a:hover {
    text-decoration: none;
}

.discovery {
    height: 400px;
    width: 100%;
}

.discovery-footer {
    height: 200px;
    width: 90%;
}
.desktop-sitemenu {
    height: 200px;
    width: 90%;
}

.experience-title {
    height: 100px;
    width: 100%;
}

.discovery-row {
    padding-left: 10px;
    padding-right: 10px;
}

.experience {
    margin: 0 auto 0px auto;
    width: 95%;
    clear: both;
}

.experience-tile {
    width: 23%;
    margin-right: 2%;
    float: left;
    margin-bottom: 2%;
}

.tile-product {
    min-height: 400px;
    display: block;
    position: relative;
    color: #00A94F;
    text-decoration: none;
}

.product_img_container {
    position: relative;
    color: #ffffff;
}

.product_image_wrapper {
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 65.83%;
    position: relative;
}
.product_image_viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.product-img {
    display: block;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.celeb_img {
    position: absolute;
    display: block;
    right: 3.5%;
    width: 55px;
    height: 55px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-top: -26px;
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 1;
    transition: opacity 200ms;
}

.heart_img {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 0;
    padding-top: 60px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/icon_heart.png');
    z-index: 2;
}

.wishlist-main-con {
    display: none;
}

.product_text_container {
    font-family: "source-sans-pro-n4", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.0125em;
    font-weight: normal;
    position: relative;
}

.details-div {
    box-sizing: border-box;
    padding: 4px 0 0 0;
}
.min_height_placeholder {
    float: right;
    width: 30%;
    margin-top: 5%;
    height: 0;
}
.product_celeb_name {
    padding: 0;
    margin-bottom: 8px;
}
.product_stars {
    position: relative;
    top: -5px;
}
.product_location {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    color: #999999;
}
.product_title {
    padding-left: 0;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 4.6em;
    color: #000000;
}
.product_price {
    padding-left: 0;
    margin-top: 10px;
    color: #999999;
}

.experience_header {
    padding: 0 100px;
    text-align: center;
    font-family: georgia, serif;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    font-weight: normal;
}


.experience_sub_header {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: #999999;
    font-family: source-sans-pro-n6, sans-serif;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.04em;
    font-weight: normal;
}

.sy-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text_header_overlay {
    border-width: 0;
    border-style: solid;
    margin-top: -27px;
    padding-top: 200px;
    z-index: 201;
    bottom: 155px;
    width: 100%;
    overflow: visible;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.static_text{
    vertical-align: bottom;
    color: #ffffff;
    font-family: georgia, serif;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.01em;
    font-weight: normal;
}
.moving_text{
    vertical-align: bottom;
    position: relative;
    width: 4em;
    margin: 0 0 0 .2em;
    color: #00A94F;
    font-family: georgia, serif;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.01em;
    font-weight: normal;
}
.search_container {
    border-width: 0;
    border-style: solid;
    border-color: red;
    bottom: 45px;
    width: 100%;
    z-index: 201;
    overflow: visible;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.disc-d-widget{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background-color: #fff;
}
.disc-input-block {
    height: 48px;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
    position: relative;
}

.search-wrapper {
    display: inline-block;
    padding: 9px 16px 9px 6px;
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box !important;
}
.js-discovery-search {
    width: 605px;
    height: 30px;
    padding: 0;
    margin: 0px;
    border: none;
    font-family: montserrat;
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: normal;
    float: left;
    box-sizing: border-box;
}
.city-search-wrapper {
    text-align: center;
    border: 0;
    font-family: inherit;
    height: 25px;
    display: inline-block;
    padding: 9px 6px 9px 16px;
    vertical-align: top;
}
.discovery-city-search {
    margin: 0px;
    border: none;
    font-family: montserrat;
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: normal;
    width: 250px;
    height: 30px;
    padding: 0;
    box-sizing: border-box;
}
.disc-btn-block {
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #e1e1e1;
    float: right;
}
.disc-btn .sg-text-transform .primaryButton .button {
    height: 44px;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #00A94F;
    line-height: normal !important;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    vertical-align: middle !important;
    border: 2px solid transparent;
}
.title-container {
}
.discovery_header {
    padding: 0 100px;
    text-align: center;
}
.discovery_block {
    margin: 0 auto 30px auto;
    clear: both;
}
.layout_tiles_container {
}
.pageframe_content_container {
}
.tile_collection {
    outline: 0;
    display: block;
    padding-top: 1px;
    color: #00A94F;
    text-decoration: none;
}
.collection_img_container {
    height: 374px;
    overflow: hidden;
    min-height: 80px;
    position: relative;
}
.collection_img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -75%;
    max-width: none;
    display: block;
    opacity: 1;
    transition: opacity 200ms;
}
.collection-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.collection-text-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.collection_title {
    width: 100%;
    left: 0;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    z-index: 99;
    text-align: center;
    word-break: break-word;
    text-transform: uppercase;
    color: #ffffff;
    font-family: montserrat, sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.16em;
    font-weight: normal;
}
.collection_description {
    font-family: source-sans-pro-n6, sans-serif;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.04em;
    font-weight: normal;
    position: relative;
    margin-top: 6px;
    width: 100%;
    left: 0;
    text-overflow: ellipsis;
    z-index: 99;
    box-sizing: border-box;
    padding: 0 16px;
    color: #ffffff;
}
.padding5 {
    padding: auto;
}

.layout_tile {
    width: 32%;
    margin-bottom: 2%;
    margin-left: 1%;
    min-height: 245px;
}

.main-row {
    display: flex;
    flex-wrap: wrap;
}

.top-search .search-icon {
    width: 28px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    vertical-align: bottom;
}

.top-search {
    z-index: 10;
    min-width: 36px;
    position: relative;
    width: 50px;
    height: 100%;
    line-height: 18px;
    padding: 0 0 0 15px;
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    vertical-align: center;
}

.main_container {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    width: 100%;
    margin: 0;
    clear: both;
}

.footer_div {
    background-color: #f8f8f8;
    text-align: center;
    align-content: center;
    padding-top: 20px;
}

.pageframe_content_container {
    float: left;
    width: 100%;
    margin-bottom: 2%;
}
.tile_table {
    width: 100%;
}

.catch_all_footer_table {
    table-layout: fixed;
}
.sg-bd-2 {
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-style: normal;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom: none;
}

.catch_all_footer_subtitle {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #999999;
    font-size: 11px;
    letter-spacing: 1.4px;
    font-weight: normal;
}

.catch_all_footer_lists_table {
    border-bottom: none;
    border-top: none;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    border-left: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.footer-td-content {
    text-align: left;
}

.social-media-icons {
    height: 32px;
    width: 32px;
    margin: 0;
}
.site_info {
    clear: both;
    padding-top: 25px;
    color: white;
    text-align: center;
    margin: 0 auto 0;
    height: 25px;
    width: 100%;
    font-size: 14px;
}

.catch_all_footer_list {
    list-style: none;

}
.sg-f-bdy {
    color: #000000;
    font-family: tahoma, sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.0125em;
    font-weight: normal;
    text-decoration: none;
}


#buttons-nav a {
    margin: 0 5px;
}
.button {
    display: inline-block;
    height: 44px;
    text-transform: uppercase;
    padding: 5px;
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
}
.primaryButton {
    background-color: #00A94F;
}
.button, .buttonx {
    height: 44px;
    line-height: normal !important;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 5px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0;
    vertical-align: middle !important;
    border: 2px solid transparent;
}
a {
    color: #00A94F;
    text-decoration: none;
}

.button .title-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.button .title-container, .buttonx .title-container {
    height: 100% !important;
    position: relative !important;
}

.button .title {
    width: 100%;
    text-align: center;
    max-height: 100%;
    letter-spacing: 0.14em;
    font-size: 11px;
    font-family: Montserrat, Tahoma;
    font-style: normal;
    margin: 0 !important;
}

.primaryButton .title {
    color: #ffffff;
}
.primaryButton .title {
    color: #fff !important;
}

.navButton {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.responsive {
    position: relative;
    margin: 0 auto 0;
    height: 187px;
    width: 100%;
    float: left;
    font-size: 12px;
}

.sg-c-3 {
    position: relative;
    z-index: 2;
    margin: 50px auto 0 auto;
    color: #ffffff;
}

.footer-menu-item {
    float: none;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 56px;
}

.allowAllUsers {
    letter-spacing: .02em;
    line-height: 20px;
    text-decoration: none;
}

.sg-bg-1 {
    background-color: #000000;
}
#top-logo {
    margin-right: 15px;
}

#top-logo .logo {
    display: inline-block;
}

#top-logo .logo img {
    max-height: 40px;
}

@media screen and (max-width: 1150px) {
    #top-logo {
      margin-right: 0;
  }
}

.level-menu {margin: 20px 0 0 0;}
.level-menu .l-menu{float: left; min-height: 60px; position: relative; box-sizing:border-box; padding-top:2px;}
.level-menu .l-menu .highlight-bar{
    width: 100%;
    background-color: #00A94F;
    z-index: 12;
    height: 6px;
    display: none;
    position: absolute;
    bottom: 0;
}
.level-menu .l-menu .drop-down{position: absolute; z-index: 10; left: 0; top: 60px; background-color: #fff; display: none; box-shadow: 0 4px 8px -5px rgb(119, 119, 119);}
.rtl.level-menu .l-menu .drop-down {right:0; left:initial;}

.level-menu .drop-down .level-2{background-color: #333333;float: left; padding: 13px 0 15px 0;}
.level-menu .level-2 .col p{line-height: 18px; padding-left: 15px;}
.level-menu .drop-down .level-3{float: left; padding: 8px 0;}
.level-menu .drop-down .col{width:160px; float: left; box-sizing: border-box; min-height: 10px;}
.level-menu .drop-down .col .topNavCat{width: 100%; float: left; padding-left:0; box-sizing:border-box; min-width:120px;}
.level-menu .l-menu .label p{color: #fff; padding: 10px 15px 0 15px; transition: color 200ms;}
.level-menu .l-menu .label p:hover{color:#00A94F;}
.level-menu .l-menu .level-link{padding: 8px 5px 8px 0; display: inline-block; vertical-align: middle; word-wrap: break-word; max-width: 80%;}
.level-menu .l-menu .topNavCat img{width: 16px; display: inline-block; vertical-align: middle;}
.level-menu .l-menu .greyOut .level-link{color: #888;}
.level-menu .topNavCat a {width:100%; display:inline-block; padding-left:15px}
.level-menu .l-menu .drop-down a {box-sizing: border-box; color: #000000}
.level-menu .topNavCat a:hover {
    width:100%; display:inline-block;
    color: #00A94F}
@media screen and (max-width: 1150px){
    .level-menu .l-menu .label p {
        padding: 10px 10px 0 10px
    }
}

.level-menu .l-menu.red .label p:hover{color:#AF1E2D;}
.level-menu .l-menu.red .highlight-bar{background-color:#AF1E2D;}

/* header style for  version 2  */
.level-menu .drop-down.version2 {width:600px;}
.level-menu .lvl2_title {padding: 16px 0; text-align:center;  cursor:default;}
.level-menu .lvl2_title:empty {display:none;}
.level-menu .lvl2_content {display:flex; flex-wrap: wrap; padding: 10px 15px; align-items: flex-start;}
.level-menu .lvl2_content:empty {display:none;}
.level-menu .lvl2_content > div {flex-basis: 33.3%;}
.level-menu.version2 .l-menu .level-link {padding: 6px 0;}

.io-popup-warpper li.child:hover {background: #00A94F;}

#top-welcome a.shopping.filled {
    background-color: #00A94F;
    border-left: none;
}

#top-welcome .ui-autocomplete {
    border:1px solid #e1e1e1;}
.ui-widget {
    font-family:"source-sans-pro-n4", sans-serif;font-size:14px;line-height:22px;letter-spacing:0.0125em;font-weight:normal;}
.ui-autocomplete-category.ac-group {
    margin-top:10px;
}
.ac-group {
    font-family:"source-sans-pro-n4", sans-serif;font-size:14px;line-height:22px;letter-spacing:0.0125em;font-weight:normal;}
.ui-autocomplete.ui-menu .ui-menu-item span.highlight {
    background-color: yellow;
}
.ui-menu .ui-group-seperator, .ui-menu .ui-menu-divider.ui-group-seperator{
    border: none;
    border-bottom: 1px solid #999999;
}
#top-welcome .ui-autocomplete .ui-menu-item.ui-state-focus, #top-welcome .ui-autocomplete .ui-menu-item.ui-state-hover {
    border: none;
    background: none;
    background-color: #e1e1e1;
}
#disc-menu .ui-autocomplete .ui-menu-item:last-of-type,
#d-disc-header .ui-autocomplete .ui-menu-item:last-of-type,
#disc-d-widget .ui-autocomplete .ui-menu-item:last-of-type,
#top-welcome .ui-autocomplete .ui-menu-item:last-of-type,
#top-welcome .ui-autocomplete .ui-menu-item:last-of-type {
    text-align:center;
    font-family:"Montserrat", sans-serif;font-size:13px;line-height:1.33em;letter-spacing:0.02em;font-weight:normal;        color:#00A94F;}

input[type="search"]#top-nav-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-image: url("X---close.png");
    background-size: 15px 15px;
}
#buttons-nav a {
    margin: 0 5px;
}

@media screen and (max-width: 1150px){
    #top-welcome.top-search {
                             display:none;
                         }
    .l-menu .sg-f-btn {
        font-size: 10px;
    }
}


.disc-d-widget{
    position: relative;
    background-color: #fff;
}

.disc-d-widget .disc-input-block{
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
    position: relative;
}
.disc-d-widget .disc-input-block input[type="text"]{
    margin: 0;
    border: none;
    text-overflow: ellipsis;
    /*
    font-family: Montserrat;
    font-size: 11px;
    letter-spacing: 0.014em;
    */
}

.disc-d-widget .disc-input-block input[type="text"]::-webkit-input-placeholder{
    font-size:14px; color:#777777;
}
.disc-d-widget .disc-input-block input[type="text"]:-moz-placeholder{
    font-size:14px; color:#777777;
}
.disc-d-widget .disc-input-block input[type="text"]::-moz-placeholder{
    font-size:14px; color:#777777;
}
.disc-d-widget .disc-input-block input[type="text"]:-ms-input-placeholder{
    font-size:14px; color:#777777;
}

.disc-d-widget .disc-btn-block{
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #e1e1e1;
}
.disc-d-widget .disc-btn-block .disc-btn{
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.disc-d-widget .disc-btn-block .disc-btn.button .title{
    line-height: 23px;
}

.disc-d-widget .disc-popup-block{
    display: none;
    position: absolute;
    top: 62px;
    border: 1px solid #e1e1e1;
    z-index: 110;
    background-color: #fff;
    padding: 20px;
}
.disc-d-widget .discovery-popup .disc-header{
    display: none;
}
.disc-d-widget .discovery-popup .disc-item.disc-view-more{
    display: none;
}
.disc-d-widget .discovery-popup .disc-item.disc-view-less{
    display: none;
}
.disc-d-widget .discovery-popup .disc-footer{
    display: block;
}

.disc-d-widget .up-arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;                /* celia want it to be white on brand marquee*/
    position: absolute;
    top: -10px;
    left: 200px;
}


@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .pac-container {
        margin-top: 10.5px !important;
        margin-left: -20px !important;
        width: 187px !important;
    }
}

@media only screen and (min-width: 1201px) {
    .pac-container {
        margin-top: 14px !important;
        margin-left: -20px !important;
        width: 288px !important;
    }
}

.pac-matched {
    margin-bottom: 2px !important;
    height: 20px !important;
    font-family: "source-sans-pro-n4",sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    font-size: 14px !important;
    color: #888 !important;
    background-color: yellow;
}

.pac-item:hover {background-color: #f2f2f2;}

.pac-item {
    border: none;
    font-weight: 400 !important;
    margin-left: 20px;
    margin-right: 20px;
}

.pac-logo:after {
    display: none !important;
}

.pac-item {font-size: 15px !important;}

.search-wrapper {
    display: inline-block;
    padding: 9px 16px 9px 6px;
}

.search-wrapper {
    border-right: 1px solid #e1e1e1;
}

@media only screen and (min-width: 641px) and (max-width: 980px) {

}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .discovery.brand_marquee .disc-d-widget .disc-input-block .discovery-search {width:400px;}
    #d-disc-header .disc-input-block .discovery-search {width:400px;}
    #disc-d-widget .ui-autocomplete, #d-disc-header .ui-autocomplete {width: 428px !important;}

    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-focus,
    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-hover,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-focus,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-hover {
        width: 390px;
    }

    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item {
        width: 390px;
    }
}

@media only screen and (min-width: 1201px) {
    #disc-d-widget.ui-autocomplete, #d-disc-header .ui-autocomplete {width: 633px;}
    .discovery.brand_marquee .disc-d-widget .disc-input-block .discovery-search{width:605px;}
    #d-disc-header .disc-input-block .discovery-search {width:605px;}

    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-focus,
    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-hover,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-focus,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-hover {
        width: 590px;
    }

    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item {
        width: 590px;
    }
}

.city-search-wrapper {
    display: inline-block;
    padding: 9px 6px 9px 16px;
    vertical-align: top;
}

.rtl.search-wrapper {border-right:none; border-left:1px solid #e1e1e1;}

.tangram-suggestion-main {z-index: 400;width: 250px; padding-top: 16px;}
.tangram-suggestion-main[id="tangram-suggestion--TANGRAM__3-main"] {
    z-index: 2001 !important;
}
