a:hover {
    text-decoration: none;
}

.discovery {
    height: 400px;
    width: 100%;
}

.discovery-footer {
    height: 200px;
    width: 90%;
}

.discovery-row {
    padding-left: 10px;
    padding-right: 10px;
}

.discovery_header {
    padding: 0 100px;
    text-align: center;
}

.discovery_block {
    margin: 0 auto 30px auto;
    clear: both;
}

.desktop-sitemenu {
    height: 200px;
    width: 90%;
}

.experience {
    margin: 0 auto 0 auto;
    width: 95%;
    clear: both;
}

.experience-title {
    height: 100px;
    width: 100%;
}

.experience-tile {
    width: 23%;
    margin-right: 2%;
    float: left;
    margin-bottom: 2%;
}

.experience_header {
    padding: 0 100px;
    text-align: center;
    font-family: georgia, serif;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    font-weight: normal;
}

.experience_sub_header {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: #999999;
    font-family: source-sans-pro-n6, sans-serif;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.04em;
    font-weight: normal;
}

.tile-product {
    min-height: 400px;
    display: block;
    position: relative;
    color: #00A94F;
    text-decoration: none;
}

.product_img_container {
    position: relative;
    color: #ffffff;
}

.product_image_wrapper {
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 65.83%;
    position: relative;
}

.product_image_viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tile_product .product_img_container, .tile_collection .collection_img_container, .tile_ad .ad_img_container {
    position: relative;
}

.product-img {
    display: block;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.celeb_img {
    position: absolute;
    display: block;
    right: 3.5%;
    width: 55px;
    height: 55px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-top: -26px;
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 1;
    transition: opacity 200ms;
}

.heart_img {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 0;
    padding-top: 60px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('icon_heart.png');
    z-index: 2;
}

.wishlist-main-con {
    display: none;
}

.product_text_container {
    font-family: "source-sans-pro-n4", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.0125em;
    font-weight: normal;
    position: relative;
}

.details-div {
    box-sizing: border-box;
    padding: 4px 0 0 0;
}

.min_height_placeholder {
    float: right;
    width: 30%;
    margin-top: 5%;
    height: 0;
}

.product_celeb_name {
    padding: 0;
    margin-bottom: 8px;
}

.product_stars {
    position: relative;
    top: -5px;
}

.product_location {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    color: #999999;
}

.product_title {
    padding-left: 0;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 4.6em;
    color: #000000;
}

.product_price {
    padding-left: 0;
    margin-top: 10px;
    color: #999999;
}

.sy-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text_header_overlay {
    border-width: 0;
    border-style: solid;
    margin-top: -27px;
    padding-top: 200px;
    z-index: 201;
    bottom: 155px;
    width: 100%;
    overflow: visible;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.static_text {
    vertical-align: bottom;
    color: #ffffff;
    font-family: georgia, serif;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.01em;
    font-weight: normal;
}

.moving_text {
    vertical-align: bottom;
    position: relative;
    width: 4em;
    margin: 0 0 0 .2em;
    color: #00A94F;
    font-family: georgia, serif;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.01em;
    font-weight: normal;
}

.search_container {
    border-width: 0;
    border-style: solid;
    border-color: red;
    bottom: 45px;
    width: 100%;
    z-index: 201;
    overflow: visible;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.disc-d-widget {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background-color: #fff;
}

.disc-input-block {
    height: 48px;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
    position: relative;
}

.search-wrapper {
    display: inline-block;
    padding: 9px 16px 9px 6px;
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box !important;
}

.js-discovery-search {
    width: 605px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    font-family: montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: normal;
    float: left;
    box-sizing: border-box;
}

.city-search-wrapper {
    text-align: center;
    border: 0;
    font-family: inherit;
    height: 25px;
    display: inline-block;
    padding: 9px 6px 9px 16px;
    vertical-align: top;
}

.discovery-city-search {
    margin: 0;
    border: none;
    font-family: montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: normal;
    width: 250px;
    height: 30px;
    padding: 0;
    box-sizing: border-box;
}

.disc-btn-block {
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #e1e1e1;
    float: right;
}

.disc-btn .sg-text-transform .primaryButton .button {
    height: 44px;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #00A94F;
    line-height: normal !important;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    vertical-align: middle !important;
    border: 2px solid transparent;
}

.tile_collection {
    outline: 0;
    display: block;
    padding-top: 1px;
    color: #00A94F;
    text-decoration: none;
}

.collection_img_container {
    height: 374px;
    overflow: hidden;
    min-height: 80px;
    position: relative;
}

.collection_img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -75%;
    max-width: none;
    display: block;
    opacity: 1;
    transition: opacity 200ms;
}

.collection-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collection-text-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collection_title {
    width: 100%;
    left: 0;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    z-index: 99;
    text-align: center;
    word-break: break-word;
    text-transform: uppercase;
    color: #ffffff;
    font-family: montserrat, sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.16em;
    font-weight: normal;
}

.collection_description {
    font-family: source-sans-pro-n6, sans-serif;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.04em;
    font-weight: normal;
    position: relative;
    margin-top: 6px;
    width: 100%;
    left: 0;
    text-overflow: ellipsis;
    z-index: 99;
    box-sizing: border-box;
    padding: 0 16px;
    color: #ffffff;
}

.padding5 {
    padding: auto;
}

.layout_tile {
    width: 32%;
    margin-bottom: 2%;
    margin-left: 1%;
    min-height: 245px;
}

.main-row {
    display: flex;
    flex-wrap: wrap;
}

.top-search .search-icon {
    width: 28px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    vertical-align: bottom;
}

.top-search {
    z-index: 10;
    min-width: 36px;
    position: relative;
    width: 50px;
    height: 100%;
    line-height: 18px;
    padding: 0 0 0 15px;
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    vertical-align: center;
}

.main_container {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    width: 100%;
    margin: 0;
    clear: both;
}

.footer_div {
    background-color: #f8f8f8;
    text-align: center;
    align-content: center;
    padding-top: 20px;
}

.pageframe_content_container {
    float: left;
    width: 100%;
    margin-bottom: 2%;
}

.tile_table {
    width: 100%;
}

.catch_all_footer_table {
    table-layout: fixed;
}

.sg-bd-2 {
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-style: normal;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom: none;
}

.catch_all_footer_subtitle {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #999999;
    font-size: 11px;
    letter-spacing: 1.4px;
    font-weight: normal;
}

.catch_all_footer_lists_table {
    border-bottom: none;
    border-top: none;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    border-left: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.footer-td-content {
    text-align: left;
}

.social-media-icons {
    height: 32px;
    width: 32px;
    margin: 0;
}

.site_info {
    clear: both;
    padding-top: 25px;
    color: white;
    text-align: center;
    margin: 0 auto 0;
    height: 25px;
    width: 100%;
    font-size: 14px;
}

.catch_all_footer_list {
    list-style: none;
}

.info-box .widget-row div:last-of-type {
    border-bottom: none;
}

.event_venue_row .displayonly_title, .location_row .displayonly_title {
    background-image: url(icon_signpost.png);
}

.product_sec_title .review_stars_div {
    display:inline-block;
    margin-left:10px;
    position:relative;
}

.product_sec_div.reviews {
    margin-bottom:20px;
}

.product_sec_div.reviews .view_all_link_container {
    text-align:center;
}

.reviews.view_all_link_container .review_item:nth-child(n+5) {
    display:none;
}
.reviews.show_all.view_all_link_container .review_item:nth-child(n+5) {
    display:block;
}

.sg-f-bdy {
    color: #000000;
    font-family: source-sans-pro-n4, sans-serif, tahoma;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: 0.0125em;
    font-weight: normal;
    text-decoration: none;
}

.sg-f-bdy-s {
    font-family: "source-sans-pro-n4", sans-serif;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    font-weight: normal;
}

.info-box select, .info-box input[type="text"] {
    border-top: none;
    cursor: pointer;
    margin: 0;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #e1e1e1;
}
.preCheckOutField select {
    padding: 9px 2%;
    width: 100%;
    background-color: #fff;
}

.luminary-section {
    width: 100%;
    min-height: 100px;
    background-color: #f9f9f9;
    float: left;
    border-bottom: 1px solid #e1e1e1;
}

.cb, .product_sec_div {
    margin: 0 auto;
    max-width: 1124px;
    clear: both;
}

.cb .cb-title, .product_sec_header {
    float: left;
    width: 100%;
    margin: 32px 0;
}

.sg-f-ttl {
    font-family: georgia, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.cb .cb-box {
    float: left;
    position: relative;
    width: 222px;
    height: 286px;
}

.cb .cb-desc {
    float: left;
    margin-bottom: 60px;
    width: 434px;
}

.cb .cb-desc .name, .cb .cb-desc .name em {
    font-family: "source-sans-pro-n4", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    letter-spacing: .02em;
}

.cb .cb-desc .name {
    margin: 0;
    width: 100%;
}

.cb .cb-desc .org, .cb .cb-desc .org em {
    font-family: "source-sans-pro-n4", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #888;
    letter-spacing: .02em;
}

.cb .cb-desc .org {
    margin-top: 5px;
    width: 100%;
}

#pdp {
    width: 100%;
    margin-top: 22px;
    min-width: 800px;
}

#pdp .product-section {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e1e1e1;
}

.p-top-sec .charity-name span {
    width: 80%;
    float: left;
    line-height: 18px;
}

.p-attributes .charity-name img {
    float: left;
    margin-right: 5px;
}

.cb .cb-box .img-box-wrapper {
    border-radius: 87px;
    height: 174px;
    width: 174px;
    margin: 0;
    overflow: hidden;
    border: 1px solid #CCC;
}

.cb .cb-shop .productTile:first-child {
    margin-right: 10px;
}

.cb .cb-shop .productTile .product_img {
    max-height: 121px;
}



.cb .cb-box .img-box {
    border-radius: 85px;
    height: 170px;
    width: 170px;
    margin: 2px 0 0 2px;
    overflow: hidden;
    position: relative;
}

.sg-bd-3 {
    border: 1px solid #e1e1e1;
}

.customRadioBox span.label {
    cursor: pointer;
}

.customRadioBox .radio {
    margin-top: 1px;
    width: 15px;
    height: 15px;
    background: url(radio_button.png) no-repeat 0 0;
}

.customCheckBox, .customRadioBox {
    float: left;
    min-width: 50%;
    max-width: 100%;
    margin-top: 1px;
    list-style-type: none;
    min-height: 25px;
    padding: 2px 0;
}

.social_wiget_div .wishlist {
    box-sizing: border-box;
    height: 44px;
    line-height: 40px;
    margin: 10px;
}

.secondaryButton {
    background-color: #ffffff;
    border: 2px solid #00A94F;
    color: #00A94F;
}

.social_wiget_div .btn_table {
    width: 100%;
    table-layout: fixed;
}

.phone, .pdp_question_mark {
    cursor: pointer;
    overflow: hidden;
}


.sg-chatbubble {
    background-image: url('icon_chatbubble_green.png');
}
.sg-chatbubble, .sg-gift-icon, .sg-info-icon {
    width: 25px;
    height: 25px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0;
}

#footer {
    position: relative;
    margin: 0 auto 0;
    height: 187px;
    width: 100%;
}

.p-top-sec .p-form .buyBox {
    padding: 10px;
    width: auto;
    background-color: #fff;
    clear: both;
}

.p-form .buyBox .price-sec .price {
    padding: 5px 0;
    width: 100%;
}

#pdp .body-text {
    overflow: hidden;
    line-height: 22px;
    width: 100%;
    position: relative;
}

div.p-top-sec .p-form .info-box {
    padding: 0;
}

.p-top-sec .p-form .info-box {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.sg-inline-flex-grow {
    flex: 1;
}

.sg-inline-top {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.sg-f-hdr {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 1.33em;
    letter-spacing: 0.02em;
    font-weight: normal;
}

.displayonly_title {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    min-height: 22px;
}

.attr-field {
    text-align: center;
    display: block;
}

.attr-field img {
    height: 28px;
}

.cb .cb-desc .desc {
    margin-top: 16px;
    width: 100%;
}

.cb .cb-shop {
    float: left;
    margin: 0 0 55px 82px;
    width: 386px;
    position: relative;
}

.cb .cb-shop p.title {
    font-family: "source-sans-pro-n4", sans-serif;
    font-size: 18px;
    color: #000;
}

.cb .cb-shop .view-all {
    position: absolute;
    right: 0;
    top: 3px;
}

.sg-text-transform {
    text-transform: uppercase;
}

.sg-inline-middle {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.sg-c-1 {
    color: #000000;
}

.cb .cb-shop .list {
    float: left;
}

.cb .cb-shop .custom-exp {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    float: left;
    padding: 0 20px;
    margin-top: 28px;
    background-position-x: 100%;
    background-position-y: center;
    background-size: 35px;
    background: url("icon_arrow_right_fff.png") no-repeat 16px 8px 100% center;
}

.buy_as_gift {
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #00a94f;
}

.buy_as_gift_div {
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    background: url("buyasagift.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.preffered_time {
    background-image: url(icon_cal.png);
    background-repeat: no-repeat;
    background-size: 22px;
    height: 44px;
    width: 100%;
    background-position-x: 10px;
    background-position-y: center;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 40px;
}

.addPeopleError {
    display:none; color: #FD6340 !important;
    font-family: georgia,sans-serif;font-style: italic;font-size: 13px; box-sizing:border-box; padding:5px 10px;
}

.sg-bg-1 {
    background-color: #000000;
}

#pdp .cb .cb-shop .custom-exp p.body-text {
    color: #fff;
    line-height: 30px;
}

#buttons-nav a {
    margin: 0 5px;
}

.button, .buttonx {
    height: 44px;
    line-height: normal !important;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 5px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0;
    vertical-align: middle !important;
    border: 2px solid transparent;
}

.button {
    display: inline-block;
    height: 44px;
    text-transform: uppercase;
    padding: 5px;
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
}

.sg-no-bd-bottom {
    border-bottom: none;
}

.primaryButton2 {
    background-color: #00A94F;
}

.view-fp:hover span {color: #00A94F;}
.view-fp-arrow {width: 20px; float: right; margin-left: 5px;}
.rtl .view-fp-arrow {width: 20px; float: left; margin-right:5px; margin-left: 0;}

.you-may-also-enjoy {text-align: center;}

.product-section .p-top-sec {
    float: left;
}
.product-section .p-top-sec, .product-section .p-bottom-sec {
    width: 100%;
}

.product-section .left-box {
    max-width: 714px;
    min-width: 386px;
    width: 60%;
    width: -webkit-calc(100% - 410px);
    width: -moz-calc(100% - 410px);
    width: calc(100% - 410px);
    min-height: 470px;
    overflow: hidden;
    float: left;
    position: relative;
}

.icon-box {
    position: absolute;
    right: 10px;
    z-index: 20;
    width: 72px;
    text-align: right;
    overflow: visible;
    top: 10px;
}

.share-box {
    display: none;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: -8px;
    width: 141px;
    height: 175px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 7px #777;
    z-index: 10;
}

.share-bar {
    float: left;
    margin-top: 25px;
    height: 30px;
}

.share-bar li {
    margin-right: 15px;
    width: 35px;
    margin-bottom: 24px;
    height: 20px;
    padding: 0;
    float: left;
}

.p-top-sec .pImgContainer {
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
    position: relative;
    min-height: 470px;
}

.p-top-sec #pImages_left {
    background: url(marquee_scroll_left.png);
    background-size: auto auto;
    z-index: 2;
    position: absolute;
    top: 195px;
    left: 0;
    /*
    background-size: 33px;
    */
    width: 33px;
    height: 66px;
}
.p-arrow {
    cursor: pointer;
    visibility: hidden;
}
a {
    color: #00A94F;
    text-decoration: none;
}

.pImgContainer .scroll {
    width: 714px;
    height: 470px;
    overflow: hidden;
}
.scroll {
    float: left;
    position: relative;
    overflow: hidden;
    width: 960px;
    height: 472px;
}

.scroll .items {
    width: 2000000em;
    position: absolute;
    clear: both;
}

.pImgContainer .scroll .items > .imgDiv {
    width: 714px;
    height: 470px;
    overflow: hidden;
    position: relative;
    float: left;
}
.scroll .items > div {
    float: left;
    width: 960px;
    position: relative;
}

.p-top-sec #pImages_right {
    background: url(/marquee_scroll_right.png);
    background-size: auto auto;
    z-index: 2;
    position: absolute;
    top: 195px;
    right: 0;
    width: 33px;
    height: 66px;
}
.p-arrow {
    cursor: pointer;
    visibility: hidden;
}

.pImgSlide {
    visibility: hidden;
}

.sweepsSymbol {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/banner_grey_big.png) 0 0 no-repeat;
    background-size: auto auto;
    height: 30px;
}

.product-section .right-box {
    width: 386px;
    max-width: 100%;
    min-height: 470px;
    float: right;
    position: relative;
}
.right-box {
    height: auto;
    min-height: 0;
}

.p-top-sec .lum-name {
    word-wrap: break-word;
    width: 312px;
    cursor: pointer;
    line-height: 22px;
}
.sg-f-dspl-s {
    font-family: source-sans-pro-n6, sans-serif;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.04em;
    font-weight: normal;
}

.p-top-sec .charity-name {
    margin-left: -2px;
    margin-top: 2px;
    float: left;
    cursor: pointer;
    width: 100%;
}
.sg-c-2 {
    color: #999999;
}

.product-section .desc-box {
    height: auto;
}
.product-section .desc-box, .product-section .details-box {
    margin-bottom: 30px;
    min-height: 150px;
}

.product-desc {
    margin-top: 16px;
    width: 100%;
    float: none;
}

.product-section .details-box {
    clear: right;
}
.product-section .desc-box, .product-section .details-box {
    margin-bottom: 30px;
    min-height: 150px;
}

.product-desc {
    margin-top: 16px;
    width: 100%;
    float: none;
}

.social_wiget_div {
    margin-top: 20px;
    float: left;
    width: 100%;
    clear: both;
    box-sizing: border-box;
}

.sg-bd-4 {
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-style: normal;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom: none;
}

.sg-no-bd-right {
    border-right: none;
}
.sg-no-bd-left {
    border-left: none;
}
.sg-no-bd-top {
    border-top: none;
}

.google-map-address-link {
    text-decoration: underline;
    margin-left: 5px;
}

.product-desc .content {
    width: 100%;
}
/*
.product-desc .content {
    width: 260px;
}
*/
.product-desc .content > ul {
    padding-left: 15px;
}

.product-desc .content > ul > li {
    font-size: 15px;
    margin-top: 10px;
    list-style-type: disc;
    list-style-position: outside;
}
.product-desc .content > ul > li {
    list-style-type: disc;
    margin-top: 10px;
}

.view-fp {
    float: left;
    margin-top: 20px;
}

.review_stars_div .review_star {
    width: 18px;
}
.review_stars_inner_div > * {
    vertical-align: middle;
}

.review_stars_inner_div {
    display: inline-block;
    padding-bottom: 1px;
}

.social_wiget_div .review_stars_div {
    margin: 10px;
}

.review_stars_div .total_reviews_span {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    margin-top: 2px;
    position: relative;
    top: 0;
}

.span-right {
    padding-left: 5px;
}

.view-fp-arrow {
    width: 20px;
    float: right;
    margin-left: 5px;
}

.product-section .p-bottom-sec {
    float: left;
    line-height: 50px;
}
.product-section .p-top-sec, .product-section .p-bottom-sec {
    width: 100%;
}

.how-this-work {
    width: 100%;
    padding: 32px 0;
    float: left;
    border-top: 1px solid #e1e1e1;
}

.how-this-work .inner-sec {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
}

.how-this-work table {
    width: 100%;
    margin-top: 30px;
}

.how-this-work table td {
    text-align: center;
    width: 100px;
    vertical-align: top;
}

.how-this-work table td img {
    width: 65px;
    margin-bottom: 16px;
}

.how-this-work table td p {
    margin-top: 4px;
    line-height: 22px;
}


.sg-bg-2 {
    background-color: #f9f9f9;
}


.button.wide {
    width: 165px;
}

.primaryButton {
    background-color: #00A94F;
}

.productTile {
    float: left;
    width: 304px;
    height: 340px;
    margin: 0 24px 45px 0;
    position: relative;
}

.tile_product.desktop .product_image_wrapper {
    width: 100%;
    overflow: hidden;
}
.tile_product .product_image_wrapper {
    width: 100%;
    height: 0;
    padding-top: 65.83%;
    position: relative;
}

.tile_product .product_image_viewport {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.wishlist-carrot {
    width: 20px;
    margin-right: 15px;
    margin-bottom: -5px;
}

.io-arrow-popup-carrot::after {
    content: " ";
    width: 10px;
    height: 10px;
    display: block;
    margin-top: -5px;
    background-color: #fff;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    position: absolute;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.sg-bg-3 {

    background-color: #ffffff;

}

.wishlist-text-con {

    width: 150px;
    padding: 10px;

}

.sg-c-primary {

    color: #00A94F;

}

.mini_product_list .tile_product .details_div {

    padding: 5px 0 0 0;

}
.tile_product .details_div {

    padding: 4px 0 0 0;

}
.tile_product .details_div {

    box-sizing: border-box;
    padding: 5px 0 0 10px;

}


.mini_product_list .tile_product .min_height_placeholder {
    display: none;
}

.tile_product .min_height_placeholder {

    float: right;
    width: 30%;
    margin-top: 5%;
    height: 0;

}

.mini_product_list .tile_product .product_celeb_name {
    width: 100%;
}
.tile_product .product_celeb_name {
    margin: 0;
    padding: 0;
}

.mini_product_list .tile_product .product_location {
    width: 100%;
}

.tile_product.desktop .product_location {

    padding: 0;

}

.mini_product_list .tile_product .product_title {

    margin: 0;

}

.tile_product .product_title, .tile_product .product_price, .tile_product .product_location {
    padding-left: 0;
}

.cb .cb-shop .tile_product.desktop .product_title p {
    width: 185px;
}
.tile_product .product_title p {

    margin: 0 0 2px 0;

}

.tile_product .product_price {
    margin-top: 10px;
}

.cb .cb-shop .productTile {
    float: left;
    width: 186px;
    height: auto;
    margin: 0;
}

#pdp .cb .cb-shop .custom-exp p.body-text {
    color: #fff;
    line-height: 30px;
}

.emailInput {
    margin-right: 20px;
}

.rtl .emailInput {
    margin-left:20px;
    margin-right: 0;
}

span.err {
    color: #D8000C;
}

.custom-form .view-frame, .view-frame.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

#vendor-admin #main-detail {
    width: 730px;
    margin: 0 auto;
    max-width: 90%;
    padding: 0 5%;
}
#main-detail {
    min-height: 500px;
}

#account-content {
    margin-top: 40px;
}

#main-detail.account-page .account-header {
    padding: 17px 0;
}

.sg-f-dspl-m {
    font-family: georgia, serif;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    font-weight: normal;
}

#main-detail.account-page .sibs {
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"] {
    height: auto;
    width: auto;
}
textarea, input {
    box-sizing: border-box;
    padding: 5px;
}

h3,form {
    margin: auto;
    padding: 0;
    border: 0;
    font-family: inherit;
    vertical-align: baseline;
}

.txt-ovr-2 {
    color: #00A94F;
}


input {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    letter-spacing: 0.02em;
    font-weight: normal;
    text-overflow: ellipsis;
}

#profile input[type="text"], #changePassword input[type="password"], #changePassword .input_container {
    width: 282px;
    display: block;
}

.custom-form.vendor-page input[type="text"] {
    width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    border: 1px solid #e1e1e1;
}

:focus, #top-welcome a.shopping:focus img, .loc-button.preCheckOutField a > input:focus, .schedule-button.preCheckOutField a > input:focus {
    outline: #00A94F dotted 2px !important;
}

:focus, #top-welcome a.shopping:focus img {
    outline: #00a94f dotted 2px;
}
textarea, input {
    box-sizing: border-box;
    padding: 5px;
}

div.row {
    margin-bottom: 10px;
}
.row {
    width: 100%;
}

#main-detail.account-page .sibs {
    display: inline-block;
    vertical-align: middle;
}

#account-content label {
    display: inline-block;
    width: 160px;
    margin: 10px 0;
}

.custom-form select {

    margin: 0;

}

:focus, #top-welcome a.shopping:focus img, .loc-button.preCheckOutField a > input:focus, .schedule-button.preCheckOutField a > input:focus {
    outline: #00A94F dotted 2px !important;
}

:focus, #top-welcome a.shopping:focus img {
    outline: #00a94f dotted 2px;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    border: 1px solid #e1e1e1;
}

select {
    background: url(mobile-dropdown.png) no-repeat scroll 100% 8px / 35px auto white;
    padding: 10px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-color: #e1e1e1;
}

#account-content h3 {
    margin: 25px 0;
}

#profileForm select {
    width:282px;
}

.mobile #account-content .sibs > label {
    margin-bottom:4px !important;
}

#profileForm select.mobile {
    width:100%;
}

.otherExp-section {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    float: left;
    border-bottom: 1px solid #e1e1e1;
}

.row {
    width: 100%;
}

.you-may-also-enjoy {
    text-align: center;
}

.sg-f-dspl-l {
    font-family: montserrat, sans-serif;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.3em;
    font-weight: normal;
}

.main-vertical-list {
    float: left;
    width: 1000px;
    min-height: 250px;
    margin: 0;
    overflow: hidden;
}

.button.wide {
    width: 165px;
}

.primaryButton {
    background-color: #00A94F;
}

a {
    color: #00A94F;
    text-decoration: none;
}

.button .title-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.button .title-container, .buttonx .title-container {
    height: 100% !important;
    position: relative !important;
}

.button .title {
    width: 100%;
    text-align: center;
    max-height: 100%;
    letter-spacing: 0.14em;
    font-size: 11px;
    font-family: Montserrat, Tahoma, sans-serif;
    font-style: normal;
    margin: 0 !important;
}

.primaryButton .title {
    color: #ffffff;
}

.primaryButton .title {
    color: #fff !important;
}

.navButton {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.responsive {
    position: relative;
    margin: 0 auto 0;
    height: 187px;
    width: 100%;
    float: left;
    font-size: 12px;
}

#top-welcome a.myaccount {
    width: 28px;
}

.profile_icon {
    height: 50px;
}

#acct-popup-wrapper {
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 200;
    display: none;
}

#acct-popup-box, #lang-popup-box {
    float: left;
    width: 146px;
    margin-top: 28px;
    padding: 20px 10px 10px 10px;
}

#acct-popup-carrot, #lang-popup-carrot {
    float: left;
    margin: -21px 0 0 85px;
    height: 0;
}

.io-popup-warpper li {
    width: 100%;
}

#profile_settings:hover #acct-popup-wrapper {
    display:block;
}

p {
    width: 100%;
    padding: 5px 0px;
}

.io-popup-warpper li.child p {
    width: 100%;
    padding: 0px 5px;
    margin-top: 10px;
}

.sg-c-3 {
    position: relative;
    z-index: 2;
    margin: 50px auto 0 auto;
    color: #ffffff;
}

.sg-c-4 {
    color: #ffffff;
    font-size: small;
}

.footer-menu-item {
    float: none;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 56px;
}

.allowAllUsers {
    letter-spacing: .02em;
    line-height: 20px;
    text-decoration: none;
}

#top-logo {
    margin-right: 15px;
}

#top-logo .logo {
    display: inline-block;
}

#top-logo .logo img {
    max-height: 40px;
}

@media screen and (max-width: 1150px) {
    #top-logo {
        margin-right: 0;
    }
}

.level-menu {
    margin: 20px 0 0 0;
}

.level-menu .l-menu {
    float: left;
    min-height: 60px;
    position: relative;
    box-sizing: border-box;
    padding-top: 2px;
}

.level-menu .l-menu .highlight-bar {
    width: 100%;
    background-color: #00A94F;
    z-index: 12;
    height: 6px;
    display: none;
    position: absolute;
    bottom: 0;
}

.level-menu .l-menu .drop-down {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 60px;
    background-color: #fff;
    display: none;
    box-shadow: 0 4px 8px -5px rgb(119, 119, 119);
}

.rtl.level-menu .l-menu .drop-down {
    right: 0;
    left: initial;
}

.level-menu .drop-down .level-2 {
    background-color: #333333;
    float: left;
    padding: 13px 0 15px 0;
}

.level-menu .level-2 .col p {
    line-height: 18px;
    padding-left: 15px;
}

.level-menu .drop-down .level-3 {
    float: left;
    padding: 8px 0;
}

.level-menu .drop-down .col {
    width: 160px;
    float: left;
    box-sizing: border-box;
    min-height: 10px;
}

.level-menu .drop-down .col .topNavCat {
    width: 100%;
    float: left;
    padding-left: 0;
    box-sizing: border-box;
    min-width: 120px;
}

.level-menu .l-menu .label p {
    color: #fff;
    padding: 10px 15px 0 15px;
    transition: color 200ms;
}

.level-menu .l-menu .label p:hover {
    color: #00A94F;
}

.level-menu .l-menu .level-link {
    padding: 8px 5px 8px 0;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    max-width: 80%;
}

.level-menu .l-menu .topNavCat img {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

.level-menu .l-menu .greyOut .level-link {
    color: #888;
}

.level-menu .topNavCat a {
    width: 100%;
    display: inline-block;
    padding-left: 15px
}

.level-menu .l-menu .drop-down a {
    box-sizing: border-box;
    color: #000000
}

.level-menu .topNavCat a:hover {
    width: 100%;
    display: inline-block;
    color: #00A94F
}

@media screen and (max-width: 1150px) {
    .level-menu .l-menu .label p {
        padding: 10px 10px 0 10px
    }
}

.level-menu .l-menu.red .label p:hover {
    color: #AF1E2D;
}

.level-menu .l-menu.red .highlight-bar {
    background-color: #AF1E2D;
}

/* header style for  version 2  */
.level-menu .drop-down.version2 {
    width: 600px;
}

.level-menu .lvl2_title {
    padding: 16px 0;
    text-align: center;
    cursor: default;
}

.level-menu .lvl2_title:empty {
    display: none;
}

.level-menu .lvl2_content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    align-items: flex-start;
}

.level-menu .lvl2_content:empty {
    display: none;
}

.level-menu .lvl2_content > div {
    flex-basis: 33.3%;
}

.level-menu.version2 .l-menu .level-link {
    padding: 6px 0;
}

.io-popup-warpper li.child:hover {
    background: #00A94F;
    color: white;
}

#top-welcome a.shopping.filled {
    background-color: #00A94F;
    border-left: none;
}

#top-welcome .ui-autocomplete {
    border: 1px solid #e1e1e1;
}

.ui-widget {
    font-family: "source-sans-pro-n4", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.0125em;
    font-weight: normal;
}

.ui-autocomplete-category.ac-group {
    margin-top: 10px;
}

.ac-group {
    font-family: "source-sans-pro-n4", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.0125em;
    font-weight: normal;
}

.ui-autocomplete.ui-menu .ui-menu-item span.highlight {
    background-color: yellow;
}

.ui-menu .ui-group-seperator, .ui-menu .ui-menu-divider.ui-group-seperator {
    border: none;
    border-bottom: 1px solid #999999;
}

#top-welcome .ui-autocomplete .ui-menu-item.ui-state-focus, #top-welcome .ui-autocomplete .ui-menu-item.ui-state-hover {
    border: none;
    background: none;
    background-color: #e1e1e1;
}

#disc-menu .ui-autocomplete .ui-menu-item:last-of-type,
#d-disc-header .ui-autocomplete .ui-menu-item:last-of-type,
#disc-d-widget .ui-autocomplete .ui-menu-item:last-of-type,
#top-welcome .ui-autocomplete .ui-menu-item:last-of-type,
#top-welcome .ui-autocomplete .ui-menu-item:last-of-type {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 1.33em;
    letter-spacing: 0.02em;
    font-weight: normal;
    color: #00A94F;
}

input[type="search"]#top-nav-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-image: url("X---close.png");
    background-size: 15px 15px;
}

@media screen and (max-width: 1150px) {
    #top-welcome.top-search {
        display: none;
    }

    .l-menu .sg-f-btn {
        font-size: 10px;
    }
}

.disc-d-widget {
    position: relative;
    background-color: #fff;
}

.disc-d-widget .disc-input-block {
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
    position: relative;
}

.disc-d-widget .disc-input-block input[type="text"] {
    margin: 0;
    border: none;
    text-overflow: ellipsis;
    /*
    font-family: Montserrat;
    font-size: 11px;
    letter-spacing: 0.014em;
    */
}

.disc-d-widget .disc-input-block input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
    color: #777777;
}

.disc-d-widget .disc-input-block input[type="text"]:-moz-placeholder {
    font-size: 14px;
    color: #777777;
}

.disc-d-widget .disc-input-block input[type="text"]::-moz-placeholder {
    font-size: 14px;
    color: #777777;
}

.disc-d-widget .disc-input-block input[type="text"]:-ms-input-placeholder {
    font-size: 14px;
    color: #777777;
}

.disc-d-widget .disc-btn-block {
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #e1e1e1;
}

.disc-d-widget .disc-btn-block .disc-btn {
    width: 100%;
    height: 35px;
    line-height: 35px;
}

.disc-d-widget .disc-btn-block .disc-btn.button .title {
    line-height: 23px;
}

.disc-d-widget .disc-popup-block {
    display: none;
    position: absolute;
    top: 62px;
    border: 1px solid #e1e1e1;
    z-index: 110;
    background-color: #fff;
    padding: 20px;
}

.disc-d-widget .discovery-popup .disc-header {
    display: none;
}

.disc-d-widget .discovery-popup .disc-item.disc-view-more {
    display: none;
}

.disc-d-widget .discovery-popup .disc-item.disc-view-less {
    display: none;
}

.disc-d-widget .discovery-popup .disc-footer {
    display: block;
}

.disc-d-widget .up-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; /* celia want it to be white on brand marquee*/
    position: absolute;
    top: -10px;
    left: 200px;
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .pac-container {
        margin-top: 10.5px !important;
        margin-left: -20px !important;
        width: 187px !important;
    }
}

@media only screen and (min-width: 1201px) {
    .pac-container {
        margin-top: 14px !important;
        margin-left: -20px !important;
        width: 288px !important;
    }
}

.pac-matched {
    margin-bottom: 2px !important;
    height: 20px !important;
    font-family: "source-sans-pro-n4", sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    font-size: 14px !important;
    color: #888 !important;
    background-color: yellow;
}

.pac-item:hover {
    background-color: #f2f2f2;
}

.pac-item {
    border: none;
    font-weight: 400 !important;
    margin-left: 20px;
    margin-right: 20px;
}

.pac-logo:after {
    display: none !important;
}

.pac-item {
    font-size: 15px !important;
}

.search-wrapper {
    display: inline-block;
    padding: 9px 16px 9px 6px;
}

.search-wrapper {
    border-right: 1px solid #e1e1e1;
}

@media only screen and (min-width: 641px) and (max-width: 980px) {

}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .discovery.brand_marquee .disc-d-widget .disc-input-block .discovery-search {
        width: 400px;
    }

    #d-disc-header .disc-input-block .discovery-search {
        width: 400px;
    }

    #disc-d-widget .ui-autocomplete, #d-disc-header .ui-autocomplete {
        width: 428px !important;
    }

    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-focus,
    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-hover,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-focus,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-hover {
        width: 390px;
    }

    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item {
        width: 390px;
    }
}

@media only screen and (min-width: 1201px) {
    #disc-d-widget.ui-autocomplete, #d-disc-header .ui-autocomplete {
        width: 633px;
    }

    .discovery.brand_marquee .disc-d-widget .disc-input-block .discovery-search {
        width: 605px;
    }

    #d-disc-header .disc-input-block .discovery-search {
        width: 605px;
    }

    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-focus,
    #disc-d-widget .ui-autocomplete .ui-menu-item.ui-state-hover,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-focus,
    #d-disc-header .ui-autocomplete .ui-menu-item.ui-state-hover {
        width: 590px;
    }

    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #disc-d-widget .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item,
    #d-disc-header .ui-autocomplete .ui-menu-item {
        width: 590px;
    }
}

.city-search-wrapper {
    display: inline-block;
    padding: 9px 6px 9px 16px;
    vertical-align: top;
}

.rtl.search-wrapper {
    border-right: none;
    border-left: 1px solid #e1e1e1;
}

.tangram-suggestion-main {
    z-index: 400;
    width: 250px;
    padding-top: 16px;
}

.tangram-suggestion-main[id="tangram-suggestion--TANGRAM__3-main"] {
    z-index: 2001 !important;
}
